<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tunewave">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.example.tunewave.di.MusifyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.tunewave"
        tools:targetApi="31">
        <activity
            android:name="com.example.tunewave.ui.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.tunewave">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.init.InitActivity"
            android:label="Init Activity"
            android:theme="@style/Theme.tunewave"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.screens.login.LoginActivity"
            android:label="Login Activity"
            android:theme="@style/Theme.tunewave"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.screens.signIn.SignInActivity"
            android:label="Sign In Activity"
            android:theme="@style/Theme.tunewave"
            android:exported="true">
        </activity>
    </application>

</manifest>